<div class="ui-module ui-module-panel ui-container-fluid ui-color-2">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-form ui-box">
            <div class="ui-module ui-module-html ui-box-group">
                Még nem dőlhetünk hátra!
                <br />
                <br />
                Köszönjük a jelentkezését! - Pár perc és kész!
                <br />
                <br />
                A megadott mail címre* küldtünk egy biztonsági linket, hogy Ön az e-mail cím tulajdonosa.
                <br />
                KÉRJÜK ELLENŐRIZZE A MAIL-FIÓKJÁT!
                <br />
                illetve a spam -könyvtárát...
                <br />
                Ha nem kapta meg pár percen belül a mailt, érdemes újra feliratkoznia! Vagy jelezze alábbi elérhetőségeinken!
                <br />
                <br />
                Itt iratkozzon fel! (név, telefon)
                <br />
                <br />
                Vacsora, borok ****Hotelszobák és Wellness programok AJÁNDÉKba*!
            </div>
        </div>
    </div>
</div>
<div class="ui-module ui-module-panel ui-container-fluid ui-color-3">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-col-sm-4 ui-col-sm-offs-4">
            <div class="ui-module ui-module-form ui-box" style="font-size: large">
                <div class="ui-module ui-module-panel ui-box-group">
                    <div class="ui-module ui-module-panel ui-form-hl">
                        <div class="ui-module ui-module-panel ui-form-group">
                            <div class="ui-module ui-module-panel ui-col-sm-3">
                                <div class="ui-module ui-module-html">
                                    <label for="contact-email-name">Név</label>
                                </div>
                            </div>
                            <div class="ui-module ui-module-panel ui-col-sm-9">
                                <div class="ui-module ui-module-html">
                                    <input class="ui-form-control" id="contact-email-name" name="contact.email.name" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="ui-module ui-module-panel ui-form-group">
                            <div class="ui-module ui-module-panel ui-col-sm-3">
                                <div class="ui-module ui-module-html">
                                    <label for="contact-email-address">Email</label>
                                </div>
                            </div>
                            <div class="ui-module ui-module-panel ui-col-sm-9">
                                <div class="ui-module ui-module-html">
                                    <input class="ui-form-control" id="contact-email-address" name="contact.email.address" type="email" />
                                </div>
                            </div>
                        </div>
                        <div class="ui-module ui-module-panel ui-form-group">
                            <div class="ui-module ui-module-panel ui-col-sm-3">
                                <div class="ui-module ui-module-html">
                                    <label for="contact-phones-personal">Telefon</label>
                                </div>
                            </div>
                            <div class="ui-module ui-module-panel ui-col-sm-9">
                                <div class="ui-module ui-module-html">
                                    <input class="ui-form-control" id="contact-phones-personal" name="contact.phones.personal" type="tel" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-module ui-module-panel ui-box-footer">
                    <div class="ui-module ui-module-html ui-text-center">
                        <button class="ui-btn ui-btn-primary" type="submit">
                            Csatlakozok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>