<div class="ui-module ui-module-panel ui-container-fluid ui-color-2">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-7">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-video ui-embed ui-embed-16by9" data-module-options='{ "url": "https://www.youtube.com/watch?v=YpmaxINV7WM" }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-5">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-html ui-box-header">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="ui-module ui-module-html ui-box-group">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-module ui-module-panel ui-container-fluid ui-color-2">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box ui-box-bordered">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Marketing</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-html">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-footer">
                        <div class="ui-module ui-module-html">
                            <p><a href="#">Link 1</a></p>
                            <p><a href="#">Link 2</a></p>
                            <p><a href="#">Link 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box ui-box-bordered">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Marketing</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-html">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-footer">
                        <div class="ui-module ui-module-html">
                            <p><a href="#">Link 1</a></p>
                            <p><a href="#">Link 2</a></p>
                            <p><a href="#">Link 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box ui-box-bordered">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Marketing</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-html">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-footer">
                        <div class="ui-module ui-module-html">
                            <p><a href="#">Link 1</a></p>
                            <p><a href="#">Link 2</a></p>
                            <p><a href="#">Link 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-module ui-module-panel ui-container-fluid ui-color-4">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Picture</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-image ui-thumbnail" data-module-options='{ "image": { "url": "/assets/static/portal/templates/default/picture-1.jpg" } }'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-module ui-module-panel ui-container-fluid ui-color-3">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Marketing</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-html">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-footer">
                        <div class="ui-module ui-module-html">
                            <p><a href="#">Link 1</a></p>
                            <p><a href="#">Link 2</a></p>
                            <p><a href="#">Link 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Marketing</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-html">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-footer">
                        <div class="ui-module ui-module-html">
                            <p><a href="#">Link 1</a></p>
                            <p><a href="#">Link 2</a></p>
                            <p><a href="#">Link 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-4">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-panel ui-box-header">
                        <div class="ui-module ui-module-html">
                            <h2>Marketing</h2>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-group">
                        <div class="ui-module ui-module-html">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="ui-module ui-module-panel ui-box-footer">
                        <div class="ui-module ui-module-html">
                            <p><a href="#">Link 1</a></p>
                            <p><a href="#">Link 2</a></p>
                            <p><a href="#">Link 3</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>