<div class="ui-module ui-module-panel ui-app-header">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-6">
                <div class="ui-module ui-module-html ui-app-logo">
                    {{title}}
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-6">
                <div class="ui-module ui-module-html ui-pull-right">
                    <span>Elérhetőség: 06 ...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-module ui-module-content ui-app-main">
    <!-- content-place-holder -->
</div>
<div class="ui-module ui-module-panel ui-app-footer">
    <div class="ui-module ui-module-panel ui-container">
        <div class="ui-module ui-module-panel ui-row">
            <div class="ui-module ui-module-panel ui-col-md-6">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-html ui-box-header">
                        <h2>Marketing</h2>
                    </div>
                    <div class="ui-module ui-module-html ui-box-group">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="ui-module ui-module-html ui-box-footer">
                        <p><a href="#">Link 1</a></p>
                        <p><a href="#">Link 2</a></p>
                        <p><a href="#">Link 3</a></p>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-2">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-html ui-box-header">
                        <h2>Marketing</h2>
                    </div>
                    <div class="ui-module ui-module-html ui-box-group">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="ui-module ui-module-html ui-box-footer">
                        <p><a href="#">Link 1</a></p>
                        <p><a href="#">Link 2</a></p>
                        <p><a href="#">Link 3</a></p>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-2">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-html ui-box-header">
                        <h2>Marketing</h2>
                    </div>
                    <div class="ui-module ui-module-html ui-box-group">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="ui-module ui-module-html ui-box-footer">
                        <p><a href="#">Link 1</a></p>
                        <p><a href="#">Link 2</a></p>
                        <p><a href="#">Link 3</a></p>
                    </div>
                </div>
            </div>
            <div class="ui-module ui-module-panel ui-col-md-2">
                <div class="ui-module ui-module-panel ui-box">
                    <div class="ui-module ui-module-html ui-box-header">
                        <h2>Marketing</h2>
                    </div>
                    <div class="ui-module ui-module-html ui-box-group">
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="ui-module ui-module-html ui-box-footer">
                        <p><a href="#">Link 1</a></p>
                        <p><a href="#">Link 2</a></p>
                        <p><a href="#">Link 3</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>