<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" enablePrefetchOptimization="true" />
    <authentication>
      <forms name="ITK" domain=".partnerinfo.tv" xdt:Transform="SetAttributes(domain)" xdt:Locator="Match(name)" />
    </authentication>
  </system.web>

  <localization domain=".partnerinfo.tv" xdt:Transform="SetAttributes(domain)" />

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters xdt:Transform="Replace">
        <add prefix="http://www.partnerinfo.tv" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="Replace" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="CanonicalDomainRule" stopProcessing="false">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.(.+)$" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="http://www.{HTTP_HOST}/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <dotNetOpenAuth>
    <reporting enabled="false" xdt:Transform="SetAttributes(enabled)" />
  </dotNetOpenAuth>

  <applicationSettings xdt:Transform="Replace">
    <Partnerinfo.Properties.Settings>
      <setting name="AppHost" serializeAs="String">
        <value>partnerinfo.tv</value>
      </setting>
      <setting name="OAuthGoogleAppId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OAuthGoogleConsumerSecret" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OAuthMicrosoftAppId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OAuthMicrosoftAppSecret" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OAuthTwitterConsumerKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OAuthTwitterConsumerSecret" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CmdPop3Mail" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CmdPop3HostName" serializeAs="String">
        <value>pop.gmail.com</value>
      </setting>
      <setting name="CmdPop3Port" serializeAs="String">
        <value>995</value>
      </setting>
      <setting name="CmdPop3EnableSsl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CmdPop3UserName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CmdPop3Password" serializeAs="String">
        <value>XXX</value>
      </setting>
      <setting name="PortalPath" serializeAs="String">
        <value>C:\WebApps.New\Partnerinfo\Partnerinfo.TV</value>
      </setting>
      <setting name="PortalName" serializeAs="String">
        <value>partnerinfo.tv.sites.{0}</value>
      </setting>
    </Partnerinfo.Properties.Settings>
  </applicationSettings>
</configuration>