<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="PartnerDbContext" connectionString="Server=tcp:partnerinfo.database.windows.net,1433;Data Source=partnerinfo.database.windows.net;Initial Catalog=partnerinfo.tv;Persist Security Info=False;User ID=partnerinfo;Password=SikerF99;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="partnerinfotvcom@gmail.com">
        <network defaultCredentials="false" host="mail.t-online.hu" userName="janka60" password="5eVNx8RC2s" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" enablePrefetchOptimization="true" />
    <authentication>
      <forms name="ITK" domain=".partnerinfo-tv-2016.azurewebsites.net" xdt:Transform="SetAttributes(domain)" xdt:Locator="Match(name)" />
    </authentication>
  </system.web>

  <localization name="LOC" domain=".partnerinfo-tv-2016.azurewebsites.net" path="/" />

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters xdt:Transform="Replace">
        <add prefix="http://partnerinfo-tv-2016.azurewebsites.net" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="Replace" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <dotNetOpenAuth>
    <reporting enabled="false" xdt:Transform="SetAttributes(enabled)" />
  </dotNetOpenAuth>

  <applicationSettings xdt:Transform="Replace">
    <Partnerinfo.Properties.Settings>
      <setting name="AppHost" serializeAs="String">
        <value>partnerinfo-tv-2016.azurewebsites.net</value>
      </setting>
      <setting name="OAuthGoogleAppId" serializeAs="String">
        <value>753439819819-trkpja7gkjmhcni54741qa2mf8deg3f8.apps.googleusercontent.com</value>
      </setting>
      <setting name="OAuthGoogleConsumerSecret" serializeAs="String">
        <value>ztDRjrXe4VlqOdLJ8kk27nXV</value>
      </setting>
      <setting name="OAuthMicrosoftAppId" serializeAs="String">
        <value>000000004C0CC908</value>
      </setting>
      <setting name="OAuthMicrosoftAppSecret" serializeAs="String">
        <value>8yaI3wGZj99Q9OamZu9DxDhwK6VwCe8r</value>
      </setting>
      <setting name="CmdPop3Mail" serializeAs="String">
        <value>partnerinfoclient@gmail.com</value>
      </setting>
      <setting name="CmdPop3HostName" serializeAs="String">
        <value>pop.gmail.com</value>
      </setting>
      <setting name="CmdPop3Port" serializeAs="String">
        <value>995</value>
      </setting>
      <setting name="CmdPop3EnableSsl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CmdPop3UserName" serializeAs="String">
        <value>recent:partnerinfoclient@gmail.com</value>
      </setting>
      <setting name="CmdPop3Password" serializeAs="String">
        <value>siker4268</value>
      </setting>
      <setting name="PortalPath" serializeAs="String">
        <value>C:\WebApps.New\Partnerinfo\Partnerinfo.TV</value>
      </setting>
      <setting name="PortalName" serializeAs="String">
        <value>partnerinfo.tv.sites.{0}</value>
      </setting>
    </Partnerinfo.Properties.Settings>
  </applicationSettings>
</configuration>