<div class="ui-container-fluid ui-color-2">
    <div class="ui-container">
        <div class="ui-box">
            <div class="ui-box-header">
                <h2>Partnerinfo TV Általános Szolgáltatási Feltételek (továbbiakban ÁSzF vagy Feltételek)</h2>
            </div>
            <div class="ui-box-group">
                <p>
                    A Partnerinfo TV rendszerébe történő beregisztrálás INGYENES és az is marad!
                </p>
                <p>
                    Szeretettel üdvözöljük Önt a Partnerinfo TV rendszerében
                </p>
                <p>
                    Köszönjük, hogy a szolgáltatásainkat választotta. A szolgáltatásokat a Net Humán Alapítvány (Székhely: 4024 Debrecen, Szent A. utca 29., Adószám: 18562927-2-09), továbbiakban Szolgáltató biztosítja.
                </p>
                <br />
                <p>
                    Ön a Szolgáltató weboldalain regisztrált felhasználó (a továbbiakban Felhasználó). A jelen Feltételek arról szólnak, hogy a Szolgáltató az alább részletezett szolgáltatást nyújtja az Felhasználónak, aki a regisztrációval elfogadja jelen ÁSzF-ben írtakat.
                </p>
                <br />
                <p>
                    Jelen Feltételek szempontjából a Felhasználó jelentése magában foglalja az Felhasználó bármely alkalmazottját, üzlettársát vagy képviselőjét, akik számára Felhasználó hozzáférést biztosít a Szolgáltatáshoz. Rájuk ugyanazok a feltételek vonatkoznak, mint az Felhasználó jelen ÁSzF-et elfogadó képviselőjére. Amennyiben használják a Szolgáltatást, az Felhasználó felelőssége, hogy az ebben az ÁSzF-ben leírtakat ők is ismerjék és betartsák.
                </p>
            </div>
            <div class="ui-box-group">
                <h2>1. A szolgáltatás megnevezése:</h2>
            </div>
            <div class="ui-box-group">
                <p>
                    Online Marketing Rendszer (szoftver mint szolgáltatás)
                </p>
            </div>
            <div class="ui-box-group">
                <h2>2. A szolgáltatás módja és tartalma:</h2>
            </div>
            <div class="ui-box-group">
                <p>
                    <h3>Szoftver mint szolgáltatás</h3>
                </p>
                <br />
                <p>
                    Az Online Marketing Rendszer a Szolgáltató saját szerverén fut, amelyhez a Szolgáltató a Felhasználónak elérést biztosít elsősorban Google Chrome web-böngészőn keresztül (más böngészők használata esetén nem tudjuk garantálni, hogy minden funkció működni fog). Az Online Marketing Rendszer regisztrációnként egyszerre egy időben 2 felhasználó számára biztosít ingyenes hozzáférést, akik a Felhasználó cégének munkatársai, Szolgáltatói, alvállalkozói vagy üzleti partnerei.
                </p>
                <br />
                <p>
                    A Felhasználó felelősséggel tartozik minden olyan személynek, aki számára hozzáférést biztosít a saját Online Marketing Rendszeréhez, az Online Marketing Rendszerben végzett munkája, tevékenysége következményeiért.
                </p>
                <br />
                <p>
                    Minden Online Marketing Rendszer installációhoz a Szolgáltató 50 MB tárhelyet biztosít (ingyenesen) a Felhasználó saját dokumentumainak (pl. képek, videó és audio file-ok stb.) tárolásához (az Online Marketing Rendszer szoftver és a Felhasználó Online Marketing Rendszerben tárolt adatai által felhasznált tárhelyen felül).
                </p>
                <br />
                <p>
                    <h3>Weboldalkészítés</h3>
                </p>
                <br />
                <p>
                    A Felhasználó ingyenesen veheti igénybe a Rendszer weboldalkészítő szerkesztőjét. Az ingyenes szolgáltatás egy weboldal és 5 db aloldal kialakítására ad lehetőséget. Az így létrehozott weboldal netes eléréséhez egy darab saját domain vagy aldomain igénylésére kérelmet nyújthat be a Felhasználó, amit a Partnerinfo TV tulajdonosa/tulajdonosai jogosultak elbírálni. A Felhasználó weboldalainak egyéni domainen, illetve aldomainen történő hosztolása nem képezi részét az ingyenes szolgáltatások körének.
                </p>
                <br />
                <p>
                    <h3>Saját websablon</h3>
                </p>
                <br />
                <p>
                    Az Online Marketing Rendszerben előre elkészített weboldal-sablonokból vagy a Felhasználó már meglévő weboldalából a Szolgáltató (a mellékelt ártáblázatban írtak szerint) elkészíti az Felhasználónak az első websablont. A websablon egy statikus (nem dinamikus) oldal. Amennyiben meglévő weboldalból készül, a websablon megjelenésében közel megegyezik az eredeti weboldallal, és a rajta lévő HTML gombok és linkek ugyanúgy működnek, mint az eredeti oldalon.
                </p>
                <br />
                <p>
                    A dinamikus tartalmakat (JavaScript, Ajax, egyedi űrlapok stb.) a Szolgáltató megkísérli átvinni a websablonba, de ezek működését technikai okokból nem tudja garantálni. Ezeket a Szolgáltató a meglévő oldal tárhelyére történő hivatkozással hozza létre, azaz az eredeti tárhelyen lévő fájlok törlése esetén nem fognak működni az általuk biztosított funkciók. A további websablonokat a Felhasználó saját maga is el tudja készíteni, vagy külön díj ellenében a Szolgáltató is tud benne segíteni.
                </p>
                <br />
                <p>
                    Szolgáltató nem vállal felelősséget az Felhasználó által biztosított – akár külső tárhelyről – származó websablon jogtisztaságát illetően, a hatályos (1999. évi LXXVI.) magyar jogszabályok szerint szerzői jogi problémák esetén azonnal törli azt.
                </p>
                <br />
                <p>
                    <h3>A szolgáltatásaink módosítása és megszüntetése</h3>
                </p>
                <br />
                <p>
                    Folyamatosan javítjuk és módosítjuk a Szolgáltatásainkat. A Szolgáltatásainkat újabb funkciókkal vagy lehetőségekkel bővíthetjük.
                </p>
                <br />
                <p>
                    A Szolgáltatás használatával a Felhasználó kötelezettség nélkül felhagyhat. Ezenkívül a Szolgáltató is megszüntetheti az INGYENES Szolgáltatások biztosítását a Felhasználó számára, illetve bevezethet vagy létrehozhat új korlátozásokat a Szolgáltatásokra vonatkozóan.
                </p>
                <br />
                <p>
                    Az adatkezelésre vonatkozó törvényi előírásoknak megfelelően a Felhasználó adatai a Felhasználó tulajdonát képezik, és ezen adatokhoz való hozzáférésének fenntartása fontos szempont. Ha egy Szolgáltatást az alábbiak szerint megszüntetünk, akkor erre a Felhasználót kellő időben figyelmeztetjük, és lehetőséget biztosítunk az adatok kimentésére a Szolgáltatásból.
                </p>
                <br />
                <p>
                    <h3>Projektek készítése és menedzselése</h3>
                </p>
                <br />
                <p>
                    Az Online Marketing Rendszer projektek készítésére és menedzselésére jött létre elsősorban. A Felhasználó marketing projektjeit - a Felhasználó által egyszerűen figyelemmel kísérhetően - szakemberek hozzák létre. A Szolgáltatás projektkészítő és menedzselő felületének használatára külön díjszabás van. Azonban ez a Felhasználó számára egyszeri költség is lehet, ha a megtanult menedzselési feladatkört a szakembertől átveszi.
                </p>
                <br />
                <p>
                    Az Online Marketing Rendszerből történő e-mailek küldése
                </p>
                <br />
                <p>
                    Szolgáltató külön díjazás fejében biztosítja az Online Marketing Rendszerből történő e-mail küldést. A minél kisebb spam-arány érdekében az e-mailek más harmadik szolgáltató mailspecifikus dedikált szerverén keresztül történik és egység árai vannak. Az e-mail küldésre vonatkozó díjtáblázatot az "E-amail küldés" melléklet tartalmazza.
                </p>
                <br />
                <p>
                    Az Online Marketing Rendszer külön programozói munkával bármilyen meglévő vagy jövőbeni e-mail küldő rendszerrel összekapcsolható, amely saját maga alkalmas arra, hogy külső rendszerekkel adatokat cseréljen. Ennek külön díja van.
                </p>
                <br />
                <p>
                    <h3>"Partnerinfo TV" mint védjegy</h3>
                </p>
                <br />
                <p>
                    A "Partnerinfo TV" elnevezés az M 03 00498 ügyszámmal és a 179 454 lajstromszámmal bejegyzett védjegy, a Szolgáltató védjegye. A magyar védjegytörvény a védjegyoltalomból eredő jogok és kötelezettségek körében kiemeli, hogy a védjegyoltalom alapján a védjegyjogosultnak kizárólagos joga van a védjegy használatára. E kizárólagos jogot csak a védjegyjogosult gyakorolhatja, illetve az, akinek a védjegyjogosult használati engedélyt adott. A fenti védjegyre, annak jogosulatlan használatára, a jogosulatlan használat következményeire a hatályos Védjegytörvény (jelenleg: 1997. évi XI. törvény) rendelkezései irányadóak. Ennek megfelelően a Felhasználó köteles tartózkodni a védjegybitorlástól.
                </p>
                <br />
                <p>
                    <h3>Amire nem vállalunk garanciát</h3>
                </p>
                <br />
                <p>
                    Nem vállalunk garanciát arra, hogy a szoftver megfelel egy az Ön által meghatározott célra. Kizárólag az egyedi fejlesztésű szoftver működik pontosan az Ön igényei szerint. Ha ilyen igénye van, külön díjazásért programozóink elkészítik Önnek azt.
                </p>
                <br />
                <p>
                    A Online Marketing Rendszert a felhasználói visszajelzések, a saját tapasztalatunk, tesztelésünk és innovációink alapján fejlesztjük. Figyelembe vesszük a felhasználóink igényeit. Ennek ellenére sem tudjuk garantálni azt, hogy minden az Ön ízlése vagy elképzelése szerint fog működni, csak azt, hogy a folyamatos fejlesztés során megkérdezzük, és figyelembe vesszük az Ön véleményét és igényeit. Minél több felhasználó ért egyet abban, hogy egy bizonyos funkciónak léteznie kellene vagy, hogy hogyan kellene működnie, hogy a leghatékonyabban segítse a munkáját, annál magasabbra kerül az adott igény a fejlesztési tervünkben.
                </p>
                <br />
                <p>
                    Nem vállalunk frissítési határidőket.
                </p>
                <br />
                <p>
                    A Online Marketing Rendszer fejlesztésében távolról is elkerüljük a nagy szoftvercégek által kialakított gyakorlatot, ami szerint egy szoftvert „bizonyos időközönként frissíteni kell” vagy a „határidő fontosabb a minőségnél”. A Online Marketing Rendszer fejlesztése megállás nélkül, folyamatosan történik.
                </p>
                <br />
                <p>
                    <h3>A Felhasználó nem jogosult</h3>
                </p>
                <br />
                <p>
                    A Felhasználó nem jogosult a Szoftver visszafordítására, visszafejtésére, módosítására, fejlesztésére vagy belső felépítésének elemzésére, kivéve és csakis olyan mértékben, amennyiben ezt a kötelezően alkalmazandó jogszabályok a jelen korlátozás ellenére is kifejezetten lehetővé teszik.
                </p>
                <br />
                <p>
                    Felhasználó kizárólag a Szolgáltató jelen engedélye alapján biztonsági másolatot, vagy archiválási célból csakis egyetlen másolatot készíthet, és azt megőrizheti a Szerzői jogi törvénynek (1999. évi LXXVI. törvény) a számítógépes programalkotásokra vonatkozó pontjai alapján. Ezen másolat nem adható tovább, nem árulható, nem terjeszthető, mások számára nem tehető hozzáférhetővé a Szolgáltató engedélye nélkül. A program ezen másolata alapján kizárólag a saját használat és számítógépen való megjelenés vizsgálható és tesztelhető a Fejlesztő nélkül.
                </p>
                <br />
                <p>
                    Az egy példány biztonsági másolat készítését a Szolgáltató nem minősíti jogosulatlan visszafejtésnek. Minden más beavatkozás jogsértő visszafejtésnek, illetve módosításnak minősül, ha ahhoz a fejlesztő engedélyét nem kérték ki. A Felhasználó a Szoftvert, a Szoftver forráskódját harmadik személynek nem adhatja ki, azt nem hozhatja nyilvánosságra. A Szoftvert vagy annak bármilyen részét a Felhasználó nem módosíthatja, nem dolgozhatja át, a Felhasználó ezen tevékenységei, valamint a rendeltetésellenes használat következtében a Fejlesztő felelőssége teljes mértében kizárt. A Felhasználó a Szoftvert, mint az 1999. évi LXXVI. a szerzői jogról szóló törvény értelmében a Fejlesztő tulajdonában álló szellemi alkotást nem dolgozhatja át, nem csonkíthatja meg.
                </p>
                <br />
                <p>
                    <h3>Jótállás és szavatosság kizárása</h3>
                </p>
                <br />
                <p>
                    A jelen oldalakon szolgáltatott anyagok önmagukban, garancia vagy jótállás vállalása nélkül kerülnek közlésre, továbbá kizárólagosan a Felhasználó felelős a fiókjában létrehozott tartalmakért (weboldalak, projektek, stb.).
                    A Partnerinfo TV elutasít bármiféle felelősségvállalást ezen anyagokért, ideértve egy adott célnak való megfeleléssel vagy a szellemi alkotásokkal kapcsolatos felelősséget.
                    A Partnerinfo TV nem garantálja, hogy a jelen Oldalakon található anyagok pontosak és teljesek.
                    A Partnerinfo TV oldalain fellelhető anyagok esetenként lehetnek idejét múltak, amelyek felújítására és aktualizálására Kiadók kötelezettséget nem vállalnak.
                </p>
                <br />
                <p>
                    <h3>Egyéb internetes törvényi előírások</h3>
                </p>
                <br />
                <p>
                    Felhasználó köteles a szolgáltatást törvényes és jogszerű célokra, az internetes társadalom szabályainak megfelelően használni. Tilos a szolgáltatást rágalmazás, uszítás, fajgyűlölet és egyéb törvénybe ütköző célra felhasználni. Tilos továbbá bármely, az Interneten lévő gép erőforrásainak indokolatlan leterhelése, biztonsági hibáinak kihasználása. Ilyen esetekben a Szolgáltatónak joga van a szolgáltatást azonnali hatállyal megszüntetni.
                </p>
                <br />
                <p>
                    <h3>Jogok visszavonása</h3>
                </p>
                <br />
                <p>
                    A Partnerinfo TV tulajdonosa/tulajdonosai fenntartják maguknak a jogot, hogy bármiféle értesítés nélkül visszavonják vagy megtagadják a hozzáférést a Partnerinfo TV bizonyos vagy akár összes szolgáltatásához olyan személyektől akik meggyőződésük szerint megsértik vagy megsérteni tervezik a felsorolt feltételeket vagy a megállapodás bármilyen más pontját.
                </p>
            </div>
        </div>
    </div>
</div>